.input {
	display: grid;
	grid-template-areas: 'input';
}

.input__required {
	color: var(--color-sunny);
}

.input__field {
	grid-area: input;
	padding: 2rem;
	background-color: var(--color-dark-imperial-blue);
	border-radius: 0.625rem;
	font: var(--font-inter-tight-input);
	letter-spacing: -0.02em;
	color: var(--color-white);
}

.input__field::placeholder {
	color: transparent;
	opacity: 0;
}

.input__field:autofill {
	-webkit-text-fill-color: var(--color-white);
	box-shadow: inset 0 0 0 65.2rem var(--color-dark-imperial-blue);
	transition: background-color 5000s ease-in-out 0s;
}

.input__field--input {
	height: 5rem;
}

.input__field--textarea {
	resize: none;
}

.input__label {
	grid-area: input;
	top: 4rem;
	z-index: 1;
	max-width: calc(100% - 2 * 2rem);
	margin-block-start: 1.78125rem;
	margin-inline-start: 2rem;
	font: var(--font-inter-tight-sub3);
	letter-spacing: -0.02em;
	white-space: nowrap;
	color: var(--color-ceil);
	transition-property: translate;
	transition-duration: var(--base-transition);
	pointer-events: none;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.input__label-text {
	opacity: 0.8;
}

.input__label-required {
	color: var(--color-sunny);
}

.input__field:is(:focus-visible, :not(:placeholder-shown)) + .input__label {
	translate: 0 -1.5rem;
}

@media (max-width: 600px) {
	.input__field {
		padding: 1.25rem;
	}

	.input__field--input {
		height: 3.5rem;
	}

	.input__label {
		max-width: calc(100% - 2 * 1.25rem);
		width: fit-content;
		height: fit-content;
		padding-inline: 0.3125rem;
		background-color: var(--color-dark-imperial-blue);
		margin-block-start: 1.03125rem;
		margin-inline-start: 1.25rem;
	}
}
