.career__intro-section {
	margin-block-end: 30.4375rem;
}

.career__alternating-blocks-section {
	margin-block-end: 23.5rem;
}

.career__media-list-section {
	margin-block-end: 20rem;
}

.career__media-carousel-section {
	display: none;
}

.career__contact-form-section {
	margin-block-end: 22.75rem;
}

.career__decorative-1 {
	top: 15.25rem;
	left: -4.75rem;
	width: 45.75rem;
	height: 45.75rem;
}

.career__decorative-2 {
	top: 0.625rem;
	right: 0;
	width: 36.875rem;
	height: 36.875rem;
}

.career__decorative-3 {
	top: -38rem;
	left: 50%;
	translate: -48% 0;
	z-index: -2;
}

.career__decorative-4 {
	display: none;
}

.career__decorative-5 {
	bottom: -42rem;
	left: -32rem;
}

.career__decorative-6 {
	display: none;
}

.career__decorative-7 {
	top: -34rem;
	right: -68rem;
}

.career__decorative-8 {
	bottom: -34rem;
	left: -36rem;
}

@media(min-width: 2000px) {
	.career__decorative-1 {
		top: 31.25rem;
	}
}

@media(max-width: 1750px) {
	.career__decorative-1 {
		left: -14.75rem;
	}

	.career__decorative-2 {
		right: -14.75rem;
	}
}

@media (max-width: 1300px) {
	.career__decorative-1 {
		top: unset;
		bottom: 3.25rem;
		left: -7.125rem;
		width: 16.75rem;
		height: 16.75rem;
		opacity: 0.53;
	}

	.career__decorative-2 {
		top: 0;
		right: -9.5rem;
		width: 21.5625rem;
		height: 21.5625rem;
		opacity: 0.53;
	}

	.career__intro-section {
		margin-block-end: 8.4375rem;
	}
}

@media (max-width: 900px) {
	.career__intro-section {
		margin-block-end: 24rem;
	}

	.career__decorative-1 {
		top: 38rem;
	}

	.career__alternating-blocks-section {
		margin-block-end: 25.5625rem;
	}

	.career__alternating-blocks-section .alternating-blocks__figure {
		width: 100%;
		height: auto;
	}

	.career__media-list-section {
		display: none;
	}

	.career__media-carousel-section {
		display: block;
		margin-block-end: 18.75rem;
	}

	.career__contact-form-section {
		margin-block-end: 11.375rem;
	}

	.career__decorative-3 {
		display: none;
	}

	.career__decorative-4 {
		display: block;
		top: -22rem;
		right: -34rem;
		width: 63.125rem;
		height: auto;
	}

	.career__decorative-5 {
		bottom: -34rem;
		left: -34rem;
		width: 78.375rem;
		height: auto;
	}
	.career__decorative-6 {
		display: block;
		right: -22rem;
		bottom: -22rem;
		width: 43.25rem;
		height: auto;
	}

	.career__decorative-7 {
		display: none;
	}

	.career__decorative-8 {
		bottom: -12rem;
		left: -18rem;
		width: 43.4375rem;
		height: auto;
	}
}

@media(max-width: 600px) {
	.career__alternating-blocks-section .alternating-blocks__heading,
	.career__alternating-blocks-section .alternating-blocks__text {
		text-align: center;
	}

	.career__decorative-1 {
		width: 15.1875rem;
		height: 15.1875rem;
		bottom: -3.75rem;
	}

	.career__decorative-2 {
		width: 18.1875rem;
		height: 18.1875rem;
		top: 2rem;
	}

	.career__intro-section .media-list-section__heading {
		margin-block-end: 4.5rem;
	}

	.career__intro-section .alternating-blocks-title__wrapper {
		bottom: -65%;
	}

	.career-alternating-blocks-section {
		margin-bottom: 10rem;
	}

}
