.steps {
	list-style: none;
	counter-reset: steps;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14.4375rem;
}

.steps__item {
	position: relative;
	display: grid;
	column-gap: 1.25rem;
	max-width: 62.15rem;
}

.steps__item:nth-child(odd) {
	grid-template-areas:
		'counter line'
		'heading line'
		'text    line'
	;
	grid-template-columns: 3fr 2fr;
}


.steps__item:nth-child(even) {
	grid-template-areas:
		'line counter'
		'line heading'
		'line text   '
	;
	grid-template-columns: 2fr 3fr;
}

.steps__item:nth-child(odd) .steps__line  {
	justify-self: end;
	scale: -1 1;
}

.steps__item:nth-child(even) .steps__line  {
	justify-self: start;
}

.steps__item:first-child .steps__line {
	/*display: none;*/
	 visibility: hidden;
}

.steps__number {
	grid-area: counter;
	align-self: end;
	display: block;
	margin-block-end: 2.5rem;
	font: var(--font-craftwork-grotesk-heading-5);
	letter-spacing: -0.02em;
	color: var(--color-sunny);
	text-align: left;
}

.steps__number::after {
	content: counter(steps);
	counter-increment: steps;
}

.steps__heading {
	grid-area: heading;
	background: var(--gradient-text);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	margin-block-end: 2rem;
	text-align: left;
}

.steps__text {
	grid-area: text;
	font: var(--font-inter-tight-sub2);
	letter-spacing: -0.02em;
	text-align: left;
}

.steps__line {
	position: relative;
	top: -5rem;
	grid-area: line;
	align-self: start;
	display: block;
	max-width: 100%;
	height: auto;
	aspect-ratio: 312 / 242;
}

.steps__decorative {
	position: absolute;
	width: 19.5rem;
	height: 19.5rem;
	rotate: var(--rotate, 0deg);
}

.steps__item:nth-child(odd) .steps__decorative {
	top: -13.4375rem;
	left: -17.1875rem;
}

.steps__item:nth-child(even) .steps__decorative {
	top: -13.125rem;
	right: -10.75rem;
	scale: -1 1;
}

@media(max-width: 1700px) {
	.steps__item:nth-child(odd) .steps__decorative {
		left: -17.1875rem;
	}
}

@media (max-width: 1300px) {
	.steps__decorative {
		width: 11.125rem;
		height: 11.125rem;
	}

	.steps__item--image:first-child {
		padding-block-start: 15rem;
	}

	.steps__item:nth-child(odd) .steps__decorative {
		top: -15rem;
		left: 0;
	}

	.steps__item:nth-child(even) .steps__decorative {
		top: -5.5625rem;
		right: 0;
	}
}

@media (max-width: 900px) {
	.steps {
		gap: 3.5625rem;
	}

	.steps__item {
		width: 100%;
		max-width: 36.5625rem;
	}

	.steps__item:nth-child(odd) {
		grid-template-areas:
			'line   '
			'counter'
			'heading'
			'text   '
		;
		grid-template-columns: auto;
		grid-template-rows: 15rem auto auto auto;
	}

	.steps__item:nth-child(even) {
		grid-template-areas:
			'line   '
			'counter'
			'heading'
			'text   '
		;
		grid-template-columns: auto;
		grid-template-rows: 15rem auto auto auto;
	}

	.steps__item:nth-child(odd) .steps__decorative {
		top: 0;
		left: 0;
	}

	.steps__item:nth-child(even) .steps__decorative {
		top: 3.375rem;
		right: 1.25rem;
	}

	.steps__line {
		position: static;
		width: 8.375rem;
		height: 12rem;
		margin-block-end: 6.75rem;
	}

	.steps__number {
		margin-block-end: 2rem;
		font: var(--font-craftwork-grotesk-heading-6);
	}

	.steps__heading {
		margin-block-end: 1.25rem;
		font: var(--font-craftwork-grotesk-heading-6);
	}

	.steps__text {
		font: var(--font-inter-tight-base);
	}

	.how-to-integrate__steps-section .steps__item:nth-child(odd) .steps__decorative {
		top: 10rem;
		left: 0;
	}

	.how-to-integrate__steps-section .steps__item:nth-child(3) .steps__decorative {
		top: 0;
	}
}

@media (max-width: 600px) {
	.steps__item:nth-child(odd) {
		grid-template-areas:
			'line   '
			'counter'
			'heading'
			'text   '
		;
		grid-template-columns: auto;
		grid-template-rows: auto;
	}

	.steps__item:not(:first-child)::before {
		padding-block-start: 2.5rem;
	}

	.steps__item:nth-child(even) {
		grid-template-areas:
			'line   '
			'counter'
			'heading'
			'text   '
		;
		grid-template-columns: auto;
		grid-template-rows: 7rem auto auto auto;
	}

	.steps__item:nth-child(odd) {
		grid-template-rows: 11rem auto auto auto;
	}

	.steps__item:nth-child(even) .steps__line {
		transform: rotate(280deg);
		justify-self: flex-end;
	}


	.steps__item:nth-child(odd) .steps__line {
		justify-self: flex-start;
		transform: rotate(290deg);
		margin-left: 30px;
	}

	.steps__item:nth-child(even) {
		max-width: 240px;
	}

	.steps {
		gap: 0;
	}

	.partner-program__steps-section .partner-program__decorative-4 {
		top: 5rem;
	}

	.how-to-integrate__steps-section .steps__item:nth-child(1) .steps__decorative {
		left: auto;
		right: 0;
	}


	.how-to-integrate__steps-section .steps__item:nth-child(2) .steps__decorative {
		left: -4rem;
		right: auto;
		top: -0.5rem;
	}

	.how-to-integrate__steps-section .steps__item:nth-child(3) .steps__decorative {
		top: 0;
		left: auto;
		right: 0;
	}

	.how-to-integrate__steps-section .steps__item:nth-child(4) .steps__decorative {
		top: -0.5rem;
		left: -3rem;
	}

	.steps__decorative {
		width: 10.125rem;
		height: 10.125rem;
	}
}
