.footer__top {
	padding-block: 3.75rem;
	padding-inline-end: 6.5rem;
}

.footer__menus {
	display: flex;
	justify-content: space-between;
	gap: 1.875rem;
}

.footer__accordions {
	display: none;
}

.footer__middle {
	display: flex;
	gap: 5.1875rem;
	padding: 1.25rem 0;
	border-block-start: 0.0625rem solid rgba(255,255,255,0.2);
}

.footer__logo-link {
	align-self: center;
	flex: 0 0 auto;
}

.footer__socials {
	margin-inline-start: auto;
}

.footer__bottom {
	display: grid;
	grid-template-areas: 'development copyright policies';
	grid-template-columns: auto auto 1fr;
	gap: 1.875rem;
	padding: 2.1875rem 4.1875rem 3.125rem 0;
	border-block-start: 0.0625rem solid rgba(255,255,255,0.2);
	font: var(--font-inter-tight-small);
	letter-spacing: -0.02em;
}

.footer__design-by {
	grid-area: development;
}

.footer__copyright {
	grid-area: copyright;
	font: inherit;
	letter-spacing: -0.02em;
}

.footer__policies {
	grid-area: policies;
	justify-self: end;
}

@media (max-width: 1300px) {
	.footer__top,
	.footer__bottom {
		padding-inline-end: unset;
	}
}

@media (max-width: 900px) {
	.footer__menus {
		display: none;
	}

	.footer__accordions {
		display: block;
	}

	.footer__accordion::part(header) {
		padding-block: 1.25rem;
		font: var(--font-inter-tight-base);
	}

	/*.footer__accordion::part(summary-icon) {*/
	/*	rotate: 180deg;*/
	/*}*/

	.footer__accordion[open]::part(summary-icon) {
		rotate: 180deg;
	}

	.footer__accordion::part(content) {
		padding-block-end: 1.25rem;
	}

	.footer__accordion + .footer__accordion {
		border-block-start: 0.0625rem solid rgba(255,255,255,0.2);
	}

	.footer__middle {
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.25rem 5.1875rem;
	}

	.footer__socials {
		margin-inline-start: unset;
	}

	.footer__bottom {
		grid-template-areas:
			'policies   '
			'development'
			'copyright  '
		;
		grid-template-columns: 1fr;
		justify-content: center;
		gap: unset;
		border-block-start: unset;
		text-align: center;
	}

	.footer__policies {
		justify-self: center;
		margin-block-end: 5rem;
	}

	.footer__design-by {
		margin-block-end: 1.875rem;
	}
}

@media (max-width: 600px) {
	.footer__middle {
		border-block-start: none;
	}
}
